{{!-- Maskenpflicht --}}

<div id="art" class="card">
    <div class="picture">
    <div></div>
    </div>
    <div class="description">
        <h4>Galerien, Museen und Theater geöffnet</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat assumenda libero tempora provident voluptatem voluptates facere consectetur, officia sapiente esse, sint maiores quasi expedita alias. Voluptate expedita accusantium provident incidunt.</p>
    </div>
</div>

{{!-- Maskenpflicht --}}

<div id="restaurant" class="card">
    <div class="picture">
    <div></div>
    </div>
    <div class="description">
        <h4>Außenbereich in Restaurants geöffnet</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat assumenda libero tempora provident voluptatem voluptates facere consectetur, officia sapiente esse, sint maiores quasi expedita alias. Voluptate expedita accusantium provident incidunt.</p>
    </div>
</div>

{{!-- Ausgangsbeschränkung --}}
