{{!-- Maskenpflicht --}}

<div id="mask" class="card">
    <div class="picture">
    <div></div>
    </div>
    <div class="description">
        <h4>Maskenpflicht</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat assumenda libero tempora provident voluptatem voluptates facere consectetur, officia sapiente esse, sint maiores quasi expedita alias. Voluptate expedita accusantium provident incidunt.</p>
    </div>
</div>

{{!-- Maskenpflicht --}}

<div id="distance" class="card">
    <div class="picture">
    <div></div>
    </div>
    <div class="description">
        <h4>2 Meter Abstand</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat assumenda libero tempora provident voluptatem voluptates facere consectetur, officia sapiente esse, sint maiores quasi expedita alias. Voluptate expedita accusantium provident incidunt.</p>
    </div>
</div>

{{!-- Ausgangsbeschränkung --}}
