{{!-- AHA Rule / Default Signs --}}

<div id="mask" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Medizinische Maskenpflicht</h4>
        <p>Medizinische Maskenpflicht ab 6 Jahre bleibt wie bisher bestehen mit Ausnahme von Kindern unter 6 Jahre und
            Personen, die aus gesundheitlichen Gründen keine Maske tragen können (ärztliche Bescheinigung notwendig).
        </p>
    </div>
</div>

<div id="distance" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>2 Meter Abstand</h4>
        <p>Empfohlen wird ein Abstand zwischen 1,5 und 2 Metern.</p>
    </div>
</div>

<div id="groceries" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Produkten für den täglichen Bedarf</h4>
        <p>Geschäfte mit Produkten für den täglichen Bedarf bleiben inzidenzunabhängig geöffnet</p>
    </div>
</div>



{{!-- Emergency Brake --}}

<div id="brake-contacts" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Kontaktbeschränkung</h4>
        <p>Haushalt plus eine Person. Kinder der beiden Haushalte bis einschließlich 13 Jahre werden nicht mitgezählt.
        </p>
    </div>
</div>


<div id="brake-close-contact-services" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Körpernahe Dienstleistungen</h4>
        <p>Körpernahe Dienstleistungen müssen schließen. Medizinisch notwendige Behandlungen sind weiterhin erlaubt.
            Friseurbetriebe dürfen geöffnet bleiben</p>
    </div>
</div>


<div id="brake-curfew" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Ausgangsbeschränkung</h4>
        <p>22 bis 5 Uhr</p>
    </div>
</div>

<div id="brake-culture" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Kultur- und Freizeiteinrichtungen</h4>
        <p>sind geschlossen</p>
    </div>
</div>


<div id="brake-school" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Schulen</h4>
        <p>bei Inzidenz über 100 im Wechselunterricht. Bei Inzidenz über 165 sind Schulen im Fernunterricht. Kitas
            schließen. Notbetreuung möglich. Diese beiden Regelungen gelten auch für außerschulische
            Bildungseinrichtungen. </p>
    </div>
</div>


{{!-- Under 100 --}}

<div id="meet100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Treffen</h4>
        <p>Treffen im öffentlichen oder privaten Raum: 2 Haushalte, maximal 5 Personen. Kinder der beiden Haushalte bis
            einschließlich 13 Jahre sowie genesene und geimpfte Personen werden nicht mitgezählt. Paare, die nicht
            zusammenleben, zählen als ein Haushalt. Dies gilt auch für private Feiern wie Hochzeiten</p>
    </div>
</div>

<div id="kita100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Kitas</h4>
        <p>Kitas im Regelbetrieb unter Pandemiebedingungen</p>
    </div>
</div>

<div id="school100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Schulen</h4>
        <p><b>Grundschulen</b> im Präsenzbetrieb ohne Abstand<br><br>Alle anderen Klassenstufen aller Schulen
            Präsenzunterricht im Wechselmodell<br>Sonderregelung für <b>Abschlussklassen</b>
            möglich<br><br>Voraussetzung für die Teilnahme am Präsenzunterricht ist die verpflichtende Durchführung von
            2 Corona-Tests pro Woche für alle Schüler*innen und Lehrpersonal an allgemeinbildenden Schulen sowie
            Berufsschulen.</p>
    </div>
</div>

<div id="dance-school100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Ballett- und Tanzschulen</h4>
        <p>Ballett- und Tanzschulen schließen für den Publikumsverkehr. Kontaktarmes Training mit maximal 5 Personen aus
            zwei Haushalten. Kinder der beiden Haushalte bis einschließlich 13 Jahre werden nicht mitgezählt.</p>
    </div>
</div>

<div id="license100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Theoretische und praktische Ausbildung und Prüfung</h4>
        <p>Theoretische und praktische Ausbildung und Prüfung (gilt für Auto, Flugzeug und Boot) sind unter
            Hygieneauflagen und mit medizinischer Maske möglich.</p>
    </div>
</div>

<div id="close-contact-services100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Körpernahe Dienstleistungen</h4>
        <p>Körpernahe Dienstleistungen sind unter folgenden Bedingungen erlaubt:

            <li>Während des gesamten Aufenthalts in
                der Einrichtung und
                der Dauer der Dienstleistung müssen alle Beteiligte
                medizinische Masken tragen. Ist dies nicht möglich (z.B. bei
                einer Rasur) wird ein tagesaktueller Schnell- oder Selbsttest
                der Kund*innen benötigt.</li>
            <li>Nur mit vorheriger Terminbuchung</li>
            <li>Weiterhin geschlossen ist das
                Prostitutionsgewerbe</li>
        </p>
    </div>
</div>

<div id="restaurants100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Liefer- und Abholdienste</h4>
        <p>Liefer- und Abholdienste in der Gastronomie generell erlaubt</p>
    </div>
</div>

<div id="diy-market100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Baumärkte</h4>
        <p>Baumärkte dürfen unabhängig der Öffnungsschritte öffnen.</p>
    </div>
</div>

<div id="click-and-meet100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Einzelhandel (Click &amp; Meet)</h4>
        <p>1 Kund*in pro
            40 m² Ladenfläche ohne Testkonzept.
            2 Kund*innen pro 40 m² ohne Voranmeldung mit Testkonzept. </p>
    </div>
</div>

<div id="university100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Hochschulen und Akademien </h4>
        <p>
            <li>Lehrveranstaltungen im Freien an Hochschulen und Akademien bis 100 Personen, Nutzung von Lernplätzen mit
                Voranmeldung</li>
            <li>Kurse an Volkshochschulen und ähnlichen Einrichtungen innen bis 10 Personen, außen bis 20 Personen
                (Tanz- und Sportkurse nicht erlaubt)</li>
            <li>Mensen, Cafeterien und Betriebskantine (1,5 m Abstand muss eingehalten werden)</li>
            <li>Nachhilfeunterricht bis 10 Schüler*innen</li>
            <li>Musik-, Kunst-, Jugendkunstschulen bis 10 Schüler*innen (kein Gesangs-, Tanz- oder Blasmusikunterricht)
            </li>
            <li>Archive, Büchereien und Bibliotheken (1 Person pro 20 m²)</li>
        </p>
    </div>
</div>

<div id="fitness100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Kontaktarmer Freizeit- und Amateursport</h4>
        <p>Kontaktarmer Freizeit- und Amateursport bis 20 Personen in Sportanlagen und -stätten außen.</p>
    </div>
</div>

<div id="fandom100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Kontaktarmer Freizeit- und Amateursport</h4>
        <p>Veranstaltungen des Spitzen- und Profisports bis 100 Zuschauer*innen außen</p>
    </div>
</div>

<div id="religion100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Religionsausübung</h4>
        <p>Veranstaltungen zur Religionsausübung
            ohne Anmeldung und weiterhin ohne
            Testkonzept</p>
    </div>
</div>

<div id="culture100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Kulturveranstaltungen</h4>
        <p>
            Kulturveranstaltungen (in Theater, Opern, Kulturhäusern, Kino und ähnlichen) außen bis 100 Personen
        </p>
    </div>
</div>

<div id="free-time100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Freizeitgestaltung</h4>
        <p>
            <li>Zoologische und botanische Gärten
                (1 Person pro 20 m²)</li>
            <li> Galerien, Gedenkstätten und Museen
                (1 Person pro 20 m²)</li>
            <li>Freizeiteinrichtungen außen (wie Minigolf-
                anlagen, Hochseilgärten, Bootsverleih und
                ähnliche) bis 20 Personen</li>
            <li>Außenbereiche von Schwimmbädern
                aller Art sowie Badeseen mit kontrolliertem
                Zugang (1 Person pro 20 m²)</li>
        </p>
    </div>
</div>

<div id="restaurants100-2" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Gastronomie</h4>
        <p>
            Gastronomie (6 bis 21 Uhr) innen 1 Gast pro
            2,5 m², Tische mit 1,5 m Abstand und außen
            unter Einhaltung der AHA-Regeln
        </p>
    </div>
</div>

<div id="tourism100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Tourismus</h4>
        <p>
            <li>Touristische Übernachtung in Beherbergungsbetrieben (wie Hotels, Pensionen,
                Ferienwohnungen, Campingplätze und
                ähnliche)
                <br><br>Achtung: Gäste ohne Genesenen- oder
                Impfnachweis müssen alle 3 Tage negativen
                Coronatest vorlegen.
            </li>
            <li>Touristischer Verkehr wie Reisebusse, Seilbahnen, Ausflugsschie, Museumsbahnen
                und ähnliche (Start- und Zielort muss sich
                mindestens in Önungsstufe 1 befinden,
                maximal die Hälfte der vollen Besetzung)</li>
        </p>
    </div>
</div>

<div id="petcare100" class="card">
    <div class="picture">
        <div></div>
    </div>
    <div class="description">
        <h4>Tierpflege</h4>
        <p>
            Einrichtungen der Tierpflege wie Tiersalons
            oder Tierfriseurbetriebe (1 Person pro 20 m²)
        </p>
    </div>
</div>